/* Media Queries Sizes */
/* Phone */
$screen-xs: 480 !default;

/* Tablets */
$screen-sm: 768 !default;

/* Desktop */
$screen-md: 991 !default;

/* Wide Desktop */
$screen-lg: 1200 !default;

/* Colors */
$green-darkest: #075E54 !default;
$green-dark: #128C7E !default;
$green-light: #25D366 !default;
$white: #FFFFFF !default;
$sand: #ECE5DD !default;
$black: #000000 !default;
$gray-light: #ACACAC !default;